---
import Layout from "../layouts/Layout.astro";
---

<Layout title="FYC Fragancias SA. de CV." , lang="es" , current_page="index">
  <div>
    <h2 class="page-headline">
      Error 404<br />
      No encontramos lo<br />
      que buscabas.
    </h2>
  </div>
</Layout>
