---
type Props = {
  lang: string;
};

const { lang } = Astro.props;
---

<footer>
  <div class="container mx-auto max-w-screen-lg px-6 flex gap-4 mb-14 flex-col md:flex-row">
    <div class="border-dotted border-t border-neutral-900 flex pt-8 md:w-78 justify-center md:justify-start">
      <div class="ml-1 mr-16">
        <img src="/images/hearty.png" alt="icono corazon" loading="lazy" />
      </div>
      <div>
        {lang == "es" ? <h5>Síguenos</h5> : <h5>Follow us</h5>}
        <ol>
          <li>Facebook</li>
          <li><a href="http://twitter.com/fycsa" class="underline">Twitter</a></li>
          <li>
            <a
              href="http://www.linkedin.com/groups/FYC-FRAGANCIAS-CONTRATIPOS-3991281?home=&gid=3991281&trk=anet_ug_hm"
              class="underline">Linkedin</a
            >
          </li>
        </ol>
      </div>
    </div>
    <div class="border-dotted border-t border-neutral-900 flex pt-8 justify-between grow pr-16">
      <div>
        {lang == "es" ? <h5>D</h5> : <h5>ADDRESS</h5>}
        <address>
          Edison 2607 Nte<br />
          Col. Garza Nieto<br />
          Monterrey, NL.<br />
          México
        </address>
      </div>
      <div>
        {lang == "es" ? <h5>T</h5> : <h5>PHONE</h5>}
        <ol>
          <li>(81) 8347 7311</li>
          <li>(81) 8347 0731</li>
          <li>(81) 8347 7308</li>
          <li>(81) 8123 1756</li>
        </ol>
      </div>
      <div>
        {lang == "es" ? <h5>O</h5> : <h5>EMAIL</h5>}
        <ol>
          <li>hola@fyc.mx</li>
          <li>fragancias@prodigy.net.mx</li>
          <li>www.fyc.mx</li>
        </ol>
      </div>
    </div>
  </div>
  <div class="bg-accent h-19"></div>
</footer>

<style></style>
