---
type Props = {};

const {} = Astro.props;
---

<header class="flex justify-between my-24">
  <h1 class="text-slate-400">
    <img src="/images/logo.png" alt="FYC logo" />
  </h1>
  <hgroup>
    <h3 class="font-extrabold leading-tight">FYC FRAGANCIAS<br />SA. DE CV.</h3>
    <p class="font-serif italic text-xs">- Monterrey, Mx</p>
  </hgroup>
  <div>
    <div class="flex justify-between">
      <a href="/"><img src="/images/es-s.gif" alt="idioma español" /></a>
      <a href="/"><img src="/images/en-s.gif" alt="language english" /></a>
    </div>
    <span class="font-serif italic text-xs">- hola@fyc.mx</span>
  </div>
</header>
