---
type Props = {
  current_page: string;
  lang: string;
};

const { lang, current_page } = Astro.props;
---

<nav class="main-nav">
  {
    lang == "es" && (
      <ol>
        <li>
          <a class:list={[{ current: current_page == "index" }]} href="/">
            01. NOSOTROS
          </a>
          <p>- Nuestra filosofía</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "nuestros-productos" }]} href="/nuestros-productos">
            <div>02. NUESTROS</div>
            <div class="ml-7 -mt-1">PRODUCTOS</div>
          </a>
          <p>- Fragancias y Servicios</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "olfateando" }]} href="/olfateando">
            03. OLFATEANDO
          </a>
          <p>- Terminología y Recomendaciones</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "blog" }]} href="/blog/es-1">
            04. BLOG
          </a>
          <p>- Nuestra bitácora</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "contacto" }]} href="/contacto">
            05. CONTACTO
          </a>
          <p>- Información extra</p>
        </li>
      </ol>
    )
  }
  {
    lang == "en" && (
      <ol>
        <li>
          <a class:list={[{ current: current_page == "about" }]} href="/about">
            01. ABOUT US
          </a>
          <p>- Our Philosophy</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "products" }]} href="/products">
            <div>02. OUR PRODUCTS</div>
          </a>
          <p>- Fragances & Services</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "sniffing" }]} href="/sniffing">
            03. SNIFFING
          </a>
          <p>- Terminology & Recommendations</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "blog" }]} href="/blog/en-1">
            04. BLOG
          </a>
          <p>- Tips & Thoughts</p>
        </li>
        <li>
          <a class:list={[{ current: current_page == "contact" }]} href="/contact">
            05. CONTACT
          </a>
          <p>- Know More</p>
        </li>
      </ol>
    )
  }
</nav>

<style></style>
